# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\www\0-github\consejos-previos-para-hacer-mudanza\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
